*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/securetag
src/securetagd
src/securetag-cli
src/securetag-tx
src/test/test_securetag
src/qt/test/test_securetag-qt
src/bench/bench_securetag

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/securetag-config.h
src/config/securetag-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp
libconftest.dylib*

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
securetag-qt
SecureTag-Qt.app

# Unit-tests
Makefile.test
securetag-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_securetag.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/tests_config.py
qa/cache/*

!src/leveldb*/Makefile

.cproject
.project
.autotools
/doc/doxygen/

libsecuretagconsensus.pc
contrib/devtools/split-debug.sh
src/qt/securetag-qt.bash
qa/pull-tester/tests-config.sh

#development symlinks
securetag-cli
securetagd
securetag-qt
make

/docker/bin

# CLion
.idea
cmake-build-debug

background\.tiff

background\.tiff\.png

background\.tiff@2x\.png

/depends/
qa/pull-tester/run-bitcoind-for-test\.sh

src/secp256k1/build-aux/

libbitcoinconsensus\.pc
